/*para eliminar margenes y rellenos globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*primera barra superior*/
.header{
   display: flex;
   background-color: #001F3F;
   justify-content: space-between;
   align-items: center;
   height: 85px;
   padding: 5px 10%;  
}
/*titulo wisdomdev*/
.header .titulo img{
   width: 250px;
   
}

/*estilo para los enlaces de la barra superior*/
.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}


.header .nav-links a{
    color: white;
    font-size: 700;
    text-decoration: none;
}

.header .nav-links a:hover{
    text-decoration: underline;
}

/*segunda barra */
.sub-header{
    background: linear-gradient(90deg, #3A6D8C, #001F3F); /* Color diferente para diferenciarla */
    height: 50px; /* Menor altura */
    display: flex;
    justify-content: center; /* Centrar los elementos de la barra */
    align-items: center;
    width: 100%;
}

/*estilos de los links de la segunda barra*/

.sub-header .sub-nav-links{
    list-style: none;
    display: flex;
    gap: 190px;
}

.sub-header .sub-nav-links li{
    display: inline-block;
}

.sub-header .sub-nav-links a{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

/*  texto e imagen debajo de la segunda barra */

.content-section{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    width: 100%;
}

.text-content {
    width: 50%; /* El texto ocupará el 50% del ancho */
    margin-left: 100px;
    text-align: center;
}

.text-content h2 {
    font-size: 28px;
    color: #001F3F;
}

.text-content p {
    font-size: 18px;
    color: #001F3F;
    font-weight: bold;
}

.wisdomdev{
    color:#3A6D8C;
}

/*estilo imagen*/
.imagen-content {
    width: 30%; 
   margin-right: 150px;
}

.imagen-content img {
    width: 100%; 
    height: auto; 
    
   
}

/*estilos ciclos*/
.content-ciclos{
    width: 100%;
    padding: 250px;
    background: linear-gradient(90deg, #3A6D8C, #001F3F);
    display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

/*estitulos del titulo centrado*/
.titulo-ciclos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* Asegura que ocupe el ancho completo */
    margin-bottom: 50px; /* Espacio inferior del título */
    margin-top: -220px;
    
}

.titulo-ciclos h1{
    color: white; 
    font-size: 32px; 
   
}

/*estilos de los cuadros*/

.inner-box{
    background-color: #001F3F; /* Cambia el color de fondo de los cuadros */
    color: white;
    border: 2px solid white;
    padding: 40px;
    text-align: center;
    border-radius: 8px; 
    margin: 20px; /* Margen reducido para mayor uniformidad */
    flex: 0 1 calc(33.33% - 60px); /* Tres cuadros por fila, con espacio entre ellos */
    max-width: calc(33.33% - 30px); /* Limita el ancho máximo para tres cuadros en la fila */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    position: relative;
    padding-bottom: 20px;
}

/* Estilo para los cuadros emergentes debajo del contenido */
.popup-text {
    display: none; /* Oculto por defecto */
    position: relative; /* Se coloca en el flujo normal de la caja */
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 100%; /* Que ocupe el ancho del inner-box */
    margin-top: 10px; /* Espacio entre el contenido principal y el popup */
    text-align: center;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Transición suave al aparecer/desaparecer */
}

/* Mostrar el popup cuando el usuario pasa el ratón por encima del cuadro */
.inner-box:hover .popup-text {
    display: block;
    opacity: 1; /* Se vuelve visible */
}

/* Añadir un efecto de escala solo cuando se hace hover sobre el cuadro */
.inner-box:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.inner-box .img-cuadro{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-bottom: 20px; /* Espacio inferior */
    
}

.inner-box .img-cuadro img{
   width: 40px;
 
  
    
}

.inner-box .texto-cuadro {
    display: flex;
    flex-direction: column;  /* Asegura que los elementos se apilen verticalmente */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
    margin-top: -80px;
    margin-right: 60px;
  
}

.inner-box .texto-cuadro p {
    margin: 5px 0;
    color: #F16165;
}

.inner-box .texto-cuadro-diseño {
    display: flex;
    flex-direction: column;  /* Asegura que los elementos se apilen verticalmente */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
    margin-top: -80px;
    margin-right: 60px;
  
}

.inner-box .texto-cuadro-diseño p {
    margin: 5px 0;
    color: #00D1FF;
}

.inner-box .texto-cuadro-desarrollo {
    display: flex;
    flex-direction: column;  /* Asegura que los elementos se apilen verticalmente */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
    margin-top: -80px;
    margin-right: 60px;
  
}

.inner-box .texto-cuadro-desarrollo p {
    margin: 5px 0;
    color: #B2FF00;
}

.inner-box .texto-cuadro-pruebas {
    display: flex;
    flex-direction: column;  /* Asegura que los elementos se apilen verticalmente */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
    margin-top: -80px;
    margin-right: 60px;
  
}

.inner-box .texto-cuadro-pruebas p {
    margin: 5px 0;
    color: #00FF57;
}

.inner-box .texto-cuadro-despliegue {
    display: flex;
    flex-direction: column;  /* Asegura que los elementos se apilen verticalmente */
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
    margin-top: -80px;
    margin-right: 60px;
  
}

.inner-box .texto-cuadro-despliegue p {
    margin: 5px 0;
    color: #FF7A00;
}

.last-part{
    width: 100%;
    padding: 250px;
    background-color: white;
    
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .inner-box {
        flex: 0 1 calc(45% - 40px); /* Dos cuadros por fila en pantallas pequeñas */
        max-width: calc(45% - 40px); /* Limita el ancho máximo para dos cuadros en la fila */
    }
}

@media (max-width: 480px) {
    .inner-box {
        flex: 0 1 100%; /* Un cuadro por fila en pantallas muy pequeñas */
        max-width: 100%; /* Limita el ancho máximo a 100% */
    }
}

/*last part*/
.content-last-part{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 150px;
    width: 100%;
}



/*estilo imagen*/
.imagen-content-last-part {
    width: 50%; 
   margin-left: 100px;
}

.imagen-content-last-part img {
    width: 100%; 
    height: auto; 
    border-radius: 50%;
    
   
}

/*estilos texto*/
.text-content-last-part {
    width: 50%; /* El texto ocupará el 50% del ancho */
    margin-right: 50px;
    text-align: center;
}

.text-content-last-part h2 {
    font-size: 28px;
    color: #6A9AB0;
}

.text-content-last-part p {
    font-size: 18px;
    color: #001F3F;
    font-weight: bold;
}

.wisdomdev-last{
    color:#001F3F;
}

/*pie de pagina*/

.footer-bar{
    display: flex;                /* Usa flexbox para alinear los logos en línea */
    justify-content: space-around;      /* Centra los logos en la barra */
    align-items: center;          /* Alinea los logos verticalmente en el centro */
    background-color: #F1F1F1;   /* Color de fondo de la barra */
    padding: 20px;  
}

.footer-bar a {
    margin: 0 15px;              /* Espaciado entre los logos */
}

.footer-bar img {
    width: 50px;                 /* Ancho de los logos */
    height: auto;                /* Mantiene la relación de aspecto */
    transition: transform 0.3s;  /* Efecto de transición para hover */
}

.footer-bar img:hover {
    transform: scale(1.1);       /* Aumenta el tamaño del logo al pasar el ratón */
}

.footer-bar .logo {
    width: 40px;                 /* Ancho fijo para todos los logos */
    height: 50px;                /* Altura fija para todos los logos */
    object-fit: contain;         /* Mantiene la relación de aspecto dentro del contenedor */
    transition: transform 0.3s;  /* Efecto de transición para hover */
}

.footer-bar .logoPascual{
    width: 100px;                 /* Ancho fijo para todos los logos */
    height: 50px;                /* Altura fija para todos los logos */
    object-fit: contain;         /* Mantiene la relación de aspecto dentro del contenedor */
    transition: transform 0.3s;  /* Efecto de transición para hover */
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .inner-box {
        flex: 0 1 calc(45% - 20px); /* Dos cuadros por fila */
        max-width: calc(45% - 20px);
    }

    .content-section {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra el contenido */
    }

    .text-content {
        width: 90%; /* Ancho mayor en pantallas pequeñas */
        margin: 0; /* Elimina margen */
    }

    .imagen-content {
        width: 90%; /* Ancho mayor en pantallas pequeñas */
        margin: 0; /* Elimina margen */
    }
}

@media (max-width: 480px) {
    .inner-box {
        flex: 0 1 100%; /* Un cuadro por fila en pantallas muy pequeñas */
        max-width: 100%;
    }

    .content-section {
        padding: 10px; /* Reduce el padding */
    }

    .content-last-part {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra el contenido */
    }

    .text-content-last-part {
        width: 90%; /* Ancho mayor en pantallas pequeñas */
        margin: 0; /* Elimina margen */
    }

    .imagen-content-last-part {
        width: 90%; /* Ancho mayor en pantallas pequeñas */
        margin: 0; /* Elimina margen */
    }
}