@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Vadodara:wght@300;400;500;600;700&family=Salsa&display=swap');

:root {
    --fuenteFiraSans: "Fira Sans", sans-serif;
    --fuenteSalsa: "Salsa", cursive;
    --fuenteHind: "Hind Vadodara", sans-serif;

    --colorPrimario: #001F3F;
    --colorSecundario: #3A6D8C;
    --colorTerciario: #6A9AB0;
    --colorCuaternario: #666666;
    --colorQuinario: #5ED97B;
    --colorSenario: #F16165 ;
    --colorSeptario: #EEEEEE;
    --colorOctario: #00D1FF;
    --colorNonario: #9CD33B;
    --colorDecimo: #00FF57;
    --colorUndecimo:#FF7A00;
    --gradiente: linear-gradient(90deg, #3A6D8C, #001F3F);
    --blancoPrimario: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 85px;
   padding: 5px 10%;
   background-color: var(--colorSecundario);
}

.header__imagen {
    max-height: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap:50px;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links__enlaces {
    text-decoration: none;
    color: var(--blancoPrimario);
    font-family: var(--fuenteHind);
    font-size: 1.3rem;
}