main .contenedor1 {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main h2 {
    width: 100%;
    text-align:left;
    margin-bottom: 20px;
    font-size: 1.8em;
    margin-left: 150px;
    font-family: var(--fuenteFiraSans);
}

.section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}