.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background-color: var(--blancoPrimario);
    padding: 20px;
}

.footer__logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s;
}

.footer__logo:hover {
    transform: scale(1.1);
}

.footer__logo-pascual{
    width: 100px;
    height: 100px;
}