
@{
    ViewData["Title"] = "Log in";
    Layout = null; // Esto desactiva el Layout
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WisdomDev | Login</title>
    <link rel="icon" type="image/svg+xml" href="assets/img/iconwd.png">
    <link rel="stylesheet" href="~/css/stylesLogin/footer/footer.css">
    <link rel="stylesheet" href="~/css/stylesLogin/header/header.css">
    <link rel="stylesheet" href="~/css/stylesLogin/main/aside.css">
    <link rel="stylesheet" href="~/css/stylesLogin/main/CTA.css">
    <link rel="stylesheet" href="~/css/stylesLogin/main/cursos.css">
    <link rel="stylesheet" href="~/css/stylesLogin/main/login.css">
    <link rel="stylesheet" href="~/css/stylesLogin/main/main.css">
</head>
<body>
    <header class="header">
        <a class="header__logo" asp-action="Index" asp-controller="Home"><img src="~/img/wisdomdev_white_removebg.png" alt="Logo de WisdomDev"></a>
    </header>
    <main class="main">
        <aside class="aside">
            <h2 class="aside__titulo">¿Todavía no eres alumno en WisdomDev?</h2>
            <section class="cursos">
                <div class="curso curso__analisis">
                    <img class="curso__imagen" src="~/img/analisis_login.png" alt="Logo análisis">
                    <h3 class="curso__titulo">Análisis</h3>
                    <p class="curso__parrafo curso__parrafo-analisis"> Análisis de requerimientos, Modelado de sistemas, Especificaciones técnicas</p>
                </div>
                <div class="curso curso__diseño">
                    <img class="curso__imagen" src="~/img/diseño_login.png" alt="Logo diseño">
                    <h3 class="curso__titulo">Diseño</h3>
                    <p class="curso__parrafo curso__parrafo-diseño">Patrones de arquitectura, Patrones de diseño, Prototipado de UI</p>
                </div>
                <div class="curso curso__desarrollo">
                    <img class="curso__imagen" src="~/img/desarrollo_login.png" alt="Logo desarrollo">
                    <h3 class="curso__titulo">Desarrollo</h3>
                    <p class="curso__parrafo curso__parrafo-desarrollo">Lógica de programación, Estructuras de Datos, POO, Bases de datos SQL</p>
                </div>
                <div class="curso curso__pruebas">
                    <img class="curso__imagen" src="~/img/pruebas_login.png" alt="Logo pruebas">
                    <h3 class="curso__titulo">Pruebas</h3>
                    <p class="curso__parrafo curso__parrafo-pruebas">Pruebas de caja, Pruebas unitarias, Pruebas E2E</p>
                </div>
                <div class="curso curso__despliegue">
                    <img class="curso__imagen" src="~/img/despliegue_login.png" alt="Logo despliegue">
                    <h3 class="curso__titulo">Despliegue</h3>
                    <p class="curso__parrafo curso__parrafo-despliegue">Preparación del entorno, Gestión de versiones, Automatización</p>
                </div>
            </section>
            <section class="CTA">
                <img class="CTA__imagen" src="~/img/cohete.png">
                <div class="CTA__texto">
                    <p class="CTA__texto-medio">¿Sabes cuál es el mejor momento para comenzar?</p>
                    <p class="CTA__texto-oscuro">Ahora!</p>
                </div>
            </section>
        </aside>

        <section class="login">
            <div class="login__contenedor">
                <div class="login__introduccion">
                    <h2 class="login__introduccion-titulo">¿Ya eres alumno?</h2>
                    <p class="login__introduccion-parrafo">¡Realiza el login y obtén un excelente aprendizaje!</p>
                </div>

                

                <form class="login__formulario" method="post" action="@Url.Action("InicioSesion", "Login")">
                    <div class="login__formulario__email">
                        <label class="login__formulario__etiqueta" for="email">Correo electrónico</label>
                        <input class="login__formulario__input login__formulario__input-correo" name="email" type="email" id="email" placeholder="tu@pascualbravo.edu.co">
                    </div>
                    <div class="login__formulario__contraseña">
                        <label class="login__formulario__etiqueta" for="password">Contraseña</label>
                        <input class="login__formulario__input login__formulario__input-contraseña" name="password" type="password" id="password" placeholder="********">
                    </div>

                    <button class="login__formulario__btn" type="submit">Iniciar Sesión</button>

                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alerta-error" style="color:#d8000c; display:flex; justify-content:center; align-items:center;  background-color: #ffdddd;  border: 1px solid #d8000c; padding: 10px; margin-bottom: 15px; border-radius: 5px;">
                            <p>@ViewBag.ErrorMessage</p>
                        </div>
                    }

                    <div class="login__formulario__recuperar">
                        <p class="login__formulario__parrafo">¿Olvidaste tu contraseña?</p>
                        <a class="login__formulario__link" href="#">Recuperar</a>
                    </div>

                   

                </form>
            </div>
        </section>
    </main>

    <footer class="footer">
        <a class="footer__link" href="https://www.facebook.com">
            <img class="footer__logo" src="~/img/facebook.png" alt="Logo facebook">
        </a>
        <a class="footer__link" href="https://www.instagram.com">
            <img class="footer__logo" src="~/img/instagram.png" alt="Logo instagram">
        </a>
        <a class="footer__link" href="https://pascualbravo.edu.co">
            <img class="footer__logo footer__logo-pascual" src="~/img/pascual.png" alt="Logo Institución Universitaria Pascual Bravo">
        </a>
        <a class="footer__link" href="https://www.youtube.com">
            <img class="footer__logo" src="~/img/youtube.png" alt="Logo Youtube">
        </a>
        <a class="footer__link" href="https://x.com/home?lang=es">
            <img class="footer__logo" src="~/img/x.png" alt="Logo X">
        </a>
    </footer>
</body>
</html>