


.cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    margin-left: 100px;
    
}

.caja1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

.caja1 div {
   
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.caja1 h3{
    font-family: var(--fuenteFiraSans);
    color: var(--blancoPrimario);
}

.caja1 p{
    color:var(--blancoPrimario);
}
.curso-analisis { 
    background-color: var(--colorSecundario); 
 }
 
.curso-diseño { 
    background-color: var(--colorTerciario); 
 }
.curso-desarrollo { 
    background-color: var(--colorCuaternario); 
 }
.curso-pruebas { 
    background-color: var(--colorQuinario);
 }
.curso-despliegue { 
    background-color: var(--colorSextario);
 }

.caja1 div img {
    max-width: 40px;
    margin-bottom: 10px;
}

.caja1 div h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.caja1 div p {
    font-size: 0.9em;
}