

@{
    ViewData["Title"] = "Contenido Desarrollo";
    Layout = null; // Esto desactiva el Layout
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/header/header.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/header/sub-header.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/big-card/big-card.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/contenido/contenido-card.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/contenido/contenido.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/boton/boton.css">
    <link rel="stylesheet" href="~/css/stylesContenidoDesarrollo/footer/footer.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="titulo">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/img/wisdomdev_white_removebg.png" alt="WisdomDev Logo">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="nav-links__enlaces"><a href="formaciones">MI APRENDIZAJE</a></li>
                <li class="nav-links__enlaces"><a href="notificaciones"><i class="fa-solid fa-bell"></i></a></li>
                <li class="nav-links__enlaces"><a href="user"><i class="fa-solid fa-user"></i> USER</a></li>
            </ul>
        </nav>
    </header>
    <div class="sub-header">
        <div class="titulo-sub-header">
            <h3>DESARROLLO</h3>
        </div>
    </div>
    <main>
        <section class="big-card">
            <div class="imagen-card">
                <img src="~/img/pensando.png" alt="">
            </div>

            <div class="text-card">
                <div class="text-card1">
                    <p>Curso de:</p>
                </div>
                <div class="text-card2">
                    <p>Lógica de programación y buenas prácticas</p>
                </div>
            </div>
        </section>
        <div class="contenedor-boton">
            <button class="boton">Continuar curso</button>
        </div>
        <section class="contenido">
            <div class="contenedor-beneficios">
                <div class="beneficios">
                    <p>Beneficios:</p>
                </div>
                <div class="beneficios-text">
                    <div class="text">
                        <p>Resuelve problemas de manera efectiva</p>
                        <p>Código más limpio y mantenible</p>
                        <p>Reducción de errores</p>
                        <p>Mayor eficiencia y rendimiento</p>
                        <p>Facilita el trabajo en equipo</p>
                        <p>Adaptabilidad a nuevos lenguajes y tecnologías</p>
                    </div>
                </div>
            </div>

            <div class="curso-card">
                <h3 class="curso-titulo">Tu progreso</h3>

                <!-- Barra de progreso -->
                <div class="curso-progreso">
                    <div class="curso-progreso-barra">
                        <div class="curso-progreso-barra-llenado"></div>
                    </div>
                    <span class="curso-progreso-porcentaje">50%</span>
                </div>

                <!-- Información adicional -->
                <div class="curso-info">
                    <div class="curso-info-item">
                        <span class="curso-icono"><i class="fa-regular fa-clock"></i></span>
                        <p>Carga horaria</p>
                        <p>10h</p>
                    </div>
                    <div class="curso-info-item">
                        <span class="curso-icono"><i class="fa-solid fa-rotate-right"></i></span>
                        <p>Última actualización</p>
                        <p>13/11/2024</p>
                    </div>
                    <div class="curso-info-item">
                        <span class="curso-icono"><i class="fa-solid fa-user"></i></span>
                        <p>Autor</p>
                        <p>Diego Romero</p>
                    </div>
                    <div class="curso-info-item">
                        <span class="curso-icono"><i class="fa-solid fa-user-group"></i></span>
                        <p>Alumnos</p>
                        <p>10</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <a class="footer__link" href="https://www.facebook.com">
                <img class="footer__logo" src="~/img/facebook.png" alt="Logo facebook">
            </a>
            <a class="footer__link" href="https://www.instagram.com">
                <img class="footer__logo" src="~/img/instagram.png" alt="Logo instagram">
            </a>
            <a class="footer__link" href="https://pascualbravo.edu.co">
                <img class="footer__logo footer__logo-pascual" src="~/img/pascual.png" alt="Logo Institución Universitaria Pascual Bravo">
            </a>
            <a class="footer__link" href="https://www.youtube.com">
                <img class="footer__logo" src="~/img/youtube.png" alt="Logo Youtube">
            </a>
            <a class="footer__link" href="https://x.com/home?lang=es">
                <img class="footer__logo" src="~/img/x.png" alt="Logo X">
            </a>
        </footer>
    </main>
</body>
</html>