.content-section{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5rem;
    width: 100%;
}

.text-content {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin-left: 100px;
    text-align: center;
}

.text-content h2 {
    font-family: var(--fuenteFiraSans);
    font-weight: bolder;
    font-size: 3rem;
    color: var(--colorPrimario);
}

.wisdomdev{
    color:var(--colorTerciario);
}

.text-content p {
    font-family: var(--fuenteSalsa);
    font-size: 1.5rem;
    color: var(--colorPrimario);
    align-self: center;
    padding: 1rem;
}

.imagen-content {
    width: 30%; 
    margin-right: 150px;
}

.imagen-content img {
    width: 100%; 
    height: auto; 
}