.contenedor-boton{
    
    text-align: left;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.contenedor-boton .boton{
    background-color: var(--colorQuinario);
    height: 3rem;
    width: 20rem;
    border: none;
    color: var(--blancoPrimario);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contenedor-boton .boton:hover{
    transform: scale(1.1);
}