.social-icons {
    margin-top: 20px;
    text-align: center;
    width: 10%;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
    width: 80%; /* Ancho del 50% */
    padding: 20px; /* Espaciado interno */
}




/* Estilo para el contenedor de los íconos sociales */
.social-icons {
    width: 100%; /* Ocupa todo el ancho */
    display: flex;
    justify-content: space-around; /* Centra los íconos horizontalmente */
    align-items: center; /* Alinea verticalmente los íconos */
    bottom: 0; /* Los coloca en la parte inferior */
    padding: 10px 0;
    background-color: #f1f1f1; /* Color de fondo, opcional */
    z-index: 1000; /* Asegura que se muestre encima de otros elementos */
}

/* Estilo para los íconos sociales */
.social-icons img {
    width: 40px; /* Ajusta el tamaño de los íconos */
    height: 40px; /* Tamaño uniforme para todas las imágenes */
    margin: 0 10px; /* Espacio entre cada ícono */
}